.class-item {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.class-item h5 {
    margin-bottom: 10px;
}
.class-item p {
    margin-bottom: 5px;
}
.class-item .status {
    font-weight: bold;
}
.add-package-form {
    margin-top: 30px;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 8px;
}
