.thumbnail {
    width: 100%;
    /* กำหนดความกว้าง */
    height: 100%;
    /* กำหนดความสูง */
    object-fit: cover;
    /* ให้รูปปรับขนาดตามขนาด container โดยไม่เสียสัดส่วน */
}

.thumbnail {
    cursor: pointer;
    border: 2px solid transparent; /* ทำให้กรอบหายไปตอนแรก */
    transition: border-color 0.3s ease; /* ทำให้กรอบเปลี่ยนอย่างลื่นไหล */
}
  
.thumbnail:hover {
    border-color: #007bff; /* เพิ่มกรอบเวลาผ่านเมาส์ */
}
  
.active-thumbnail {
    border-color: red !important; /* เพิ่มกรอบสีตอนรูปที่ถูกเลือก */
}

.product-price {
    font-size: 1.8rem;
    color: red;
    margin-bottom: 10px;
}

.product-detail ul{
    margin-top: 10px;
}

.product-detail li{
    margin-bottom: 10px;
}

#quantity {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

.minus-btn, .plus-btn  {
    width: 30px;
    height: 30px;
    font-size: 25px;
    border: none;
    background-color: white;
}

.buy-now-btn, .add-to-cart-btn {
    padding: 20px 40px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    width: 45%;
}

.buy-now-btn {
    background-color: red;
    color: white;
}

.add-to-cart-btn {
    background-color: red;
    color: white;
}

.carousel-inner{
    object-fit: cover;
}