body {
    background-image: url('image_background.jpg');
    /* เปลี่ยนรูปภาพตามต้องการ */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

/* CSS สำหรับ navbar */
.navbar {
    background-color: #fff;
    color: #000;
    border-bottom: 2px solid #000;
    /* hr effect */
}

.navbar-brand,
.nav-link {
    color: #000 !important;
}

.nav-link:hover {
    text-decoration: underline;
    /* เพิ่มเส้นใต้ */
    text-decoration-color: black;
    /* กำหนดสีเส้นใต้เป็นสีดำ */
    text-decoration-thickness: 3px;
    /* กำหนดความหนาของเส้นใต้ */
    text-underline-offset: 10px;
    /* กำหนดระยะห่างระหว่างเส้นใต้กับข้อความ */
}

.navbar-nav {
    display: flex;
    align-items: center;
    /* Center items vertically */
}

.navbar-collapse {
    justify-content: center;
    /* Center items horizontally */
    margin-left: 300px;
}

/* ให้ nav ห่างกัน */
.nav-item {
    padding-right: 60px;
}

/* ปุ่ม */
.btn {
    background-color: #000;
    color: #fff;
}

/* การปรับขนาดและการจัดตำแหน่งของโลโก้ */
.navbar-brand img {
    height: 40px;
    /* ปรับขนาดของรูปภาพ */
    width: auto;
    /* รักษาสัดส่วนของรูปภาพ */
}

.form-container {
    background: rgba(239, 238, 238, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 50px auto;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #050606;
    border: none;
    padding: 10px 20px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}