body {
    background-color: #fff;
    color: #000;
}

/* ปุ่ม */
.btn {
    background-color: #000;
    color: #fff;
}

/*ภาพพื้นหลังใน section.main */
.main {
    background: url('/images/fitnesscover.avif') no-repeat center center/cover; /* กำหนดให้ภาพพื้นหลังไม่ทำซ้ำ, ตำแหน่งอยู่ตรงกลาง, ขยายให้ครอบคลุมพื้นที่ */
    color: white;
    height: 100vh; /* ใช้ความสูงเต็มหน้าจอ */
    display: flex; /* ใช้ Flexbox */
    align-items: center; /* จัดตำแหน่งแนวตั้งให้กึ่งกลาง */
    justify-content: center; /* จัดตำแหน่งแนวนอนให้กึ่งกลาง */
    text-align: center; /* จัดข้อความให้กึ่งกลาง */
}

/* ตัวหนังสือต้อนรับ */
.container h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* CSS สำหรับการ์ด */ 
/* ให้ห่างกับพื้นหลัง */
.section-detail {
    margin-top: 40px;
}

/* รูป */
.class-card {
    border: 1px solid #eee; /* กำหนดเส้นขอบการ์ดบางๆ */
    border-radius: 10px; /* มุมโค้ง */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เพิ่มเงาเพื่อความลึก */
    overflow: hidden; /* ป้องกันภาพหรือเนื้อหาออกนอกขอบ */
    text-decoration: none; /* Remove underline from the link */
    display: block; /* ทำให้การ์ดทั้งหมดคลิกได้ */
    color: inherit; /* ใช้สีตัวอักษรจากพาเรนต์ */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* เพิ่มความนุ่มนวลในการเปลี่ยนแปลง */
}

.class-card:hover {
    transform: scale(1.05); /* ขยายการ์ดเมื่อชี้เมาส์ไปที่การ์ด */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* เพิ่มความเข้มของเงาเมื่อชี้เมาส์ไปที่การ์ด */
}

.card-img-top-our {
    width: 100%;
    height: 225px;
}
.card-img-top-popular {
    width: 100%;
    height: 70%;
}

/* กล่องรายละเอียดด้านขวา */
.card-body {
    height: 250px;
    padding: 15px; /* ระยะห่างภายในการ์ด */
    background-color: #fafafa; /* พื้นหลังสีอ่อนเพื่อความโดดเด่น */
    border-radius: 10px; /* มุมโค้ง */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เพิ่มเงาเพื่อความลึก */
}

/* หัวข้อ */
.class-title {
    font-size: 1.5rem; /* ขนาดตัวอักษรที่ใหญ่ขึ้น */
    font-weight: bold; /* ตัวหนา */
    color: #000; /* สีของชื่อการ์ด */
    margin-bottom: 10px; /* ระยะห่างด้านล่าง */
}

/* รายละเอียด บรรยายเกี่ยวกับคลาส */
.class-description {
    font-size: 1rem; /* ขนาดตัวอักษรที่อ่านง่าย */
    color: #777; /* สีของเนื้อหา */
    line-height: 1.5; /* เพิ่มระยะห่างระหว่างบรรทัด */
}

/* footer */
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}