.custom-border {
    border: 2px solid #000000;  
    padding: 15px;
    border-radius: 10px; /* มุมโค้ง */
}

/* สไตล์สำหรับไอคอนตะกร้าที่อยู่ทางขวา */
.cart-icon {
    position: absolute;
    top: 10px;
    right: 10px; /* ย้ายไอคอนไปทางขวา */
    font-size: 30px;
    color: #000;
    cursor: pointer;
}