/* กำหนดการจัดการส่วนต่าง ๆ ให้สวยงาม */
.image, .booking, .type {
    padding: 15px;
}

/* กำหนดสีพื้นหลัง, การจัดตำแหน่งข้อความและการจัดรูปแบบตัวหนังสือ */
div.section {
    background-color: rgb(92, 20, 20);
    text-align: center;
    color: white;
    padding: 20px;
}

/* กำหนดขนาดสูงสุดของรูปภาพ */
.card-img-top {
    max-height: 300px;
    object-fit: cover;
}

.btn{
    color: white;
    background-color: rgb(92, 20, 20);
}

.btn:hover{
    color: black;
    background-color: gray;
}

.carousel-item{
    max-height: 600px;
    object-fit: cover;
}

.header{
    text-align: center;
    background-color: rgb(92, 20, 20);
    color: white;
    padding: 30px;
}

.footer{
    text-align: center;
    background-color: rgb(92, 20, 20);
    color: white;
    padding: 30px;
}